<%= form_for(@lecture_note) do |f| %>
  <% if @lecture_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture_note.errors.count, "error") %> prohibited this lecture_note from being saved:</h2>

      <ul>
      <% @lecture_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :course_id %><br />
      <%= f.text_field :course_id %>
    </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :methods %><br />
    <%= f.text_field :methods %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
