<h1>My Lecture Notes</h1>
<%= form_tag lecture_notes_path, :method => 'get' do %>
    <p>
      <%= search_field_tag :search %>
      <%= submit_tag "Search", :name => nil %>

    </p>
<% end %>
<%= render 'list' %>

<%= link_to 'New Lecture note', new_lecture_note_path %>
